.popup__button-save {
  margin: 18px 0 0;
  background-color: #000;
  color: #fff;
  border: 0;
  padding: 13px 125px 18px;
  font-size: 1.1rem;
  line-height: 1.4rem;
  font-family: 'Inter', Arial, sans-serif;
  display: block;
  border-radius: 2px;
}
.popup__button-save:hover {
background-color: rgba(0, 0, 0, .8);
transition: background-color .6s ease-in-out;
}
@media screen and (max-width: 767px) {
  .popup__button-save {
      padding: 10px 58px 10px;
      margin: 8px 0 0;
      font-size: .9rem;
      line-height: 1.1rem;
  }
}
