.popup_opened {
    display: flex;
    visibility: visible;
    opacity: 1;
    -moz-transition: visibility 0.8s, opacity 0.8s linear;
    -webkit-transition: visibility 0.8s, opacity 0.8s linear;
    -o-transition: visibility 0.8s, opacity 0.8s linear;
    -ms-transition: visibility 0.8s, opacity 0.8s linear;
    transition: visibility 0.8s, opacity 0.8s linear;
}






}
