.cards__button-like {
  background-color: #fff;
  border: 0;
  padding: 0;
  line-height: 1.8rem;
  background-image: url(../../../images/like.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 28.76px;
  height: 28.8px;
  cursor: pointer;
}
