.cards__button-like {
  background-color: #fff;
  border: 0;
  padding: 0;
  background-image: url(../../../images/like.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}
