.root {
    min-width: 300px;
    /* мы ещё не умеем делать мобильную версию сайта, */
    /* поэтому выше установлена минимальная ширина страницы */
    max-width: 1200px;
    /* выше установили ограничение по максимальной ширине */
    margin: 0 auto;

    font-family: 'Inter', Arial, sans-serif;
    background-color:  #000;
    font-size: 100%;
}
